<section class="hero is-info">
    <div class="hero-body">(image qui zoom)</div>
</section>

<div class="container" *ngIf="response">
    <div class="box BoxColor3 rp-container">
        <div class="content" id="content">
            <div class="mb-5">
                <span class="title">{{ response.title }}</span><br>
                <span class="has-text-grey">{{ response.date }}</span>
            </div>
            <p class="rp-content">{{ response.content }}</p >
        </div>
    </div>
    
    <div class="buttons buttons is-centered">
        <button (click)="exportPdf()" class="button is-success">Exporter</button>
        <button class="button is-warning">Modifier</button>
        <button (click)="deleteRp()" class="button is-danger">Supprimer</button>
    </div>    
</div>