<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container ">
            <div class="columns is-8 is-variable ">
                <div class="media-content">
                    <div class="content">
                      <p>
                    
                        
                        <p class=" box title is-size-1 title has-text-centered" >Contactez nous</p>
                        <p class="subtitle is-size-3">
                        </p>
                
                           <div class="box subtitle is-size-3"> <br> <strong >Une question ? </strong>  <br>
                            <br>Un petit mot doux ?<br> <br>
                           
                
                        <p class="subtitle is-size-3">  Un conflit a regler ? </p><br>
                        
                        
                        <p class="subtitle is-size-3">Nous pouvons peut étre deja repondre  <a href="./faq" >ici (FaQs)</a> ;)</p> <br>
                    </div>
                    </div>
                   
                    <nav class="level is-mobile">
                     
                     
                    </nav>
                  </div>

         
                
                <form #contactForm="ngForm" (ngSubmit)=" submitTickets(contactForm)" class="column is-one-third has-text-left">
                    <div class="field">
                        <label class="label">Nom</label>
                        <div class="control">
                            <input ngModel name = "Name" class="input is-medium" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input ngModel name= "Email" class="input is-medium" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                            <input ngModel name="textarea" type= "textarea" class="textarea is-medium">
                        </div>
                    </div>
                    <div class="control">
                      
                        <button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium subtitle is-size-2">Envoyer le message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <!-- Any other Bulma elements you want -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
      

</section>
