<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable ">
                <div class="column is-two-thirds has-text-left">
                    <h1 class="title is-1">Contactez nous</h1>
                    <ul class="is-size-4"> <li> Une question ?</li> <br>
                        <li>Une remarque ?</li><br>
                        <li> Un mot sympathique ?</li><br>
                        <li>  Un conflit avec un autre internaute ?</li><br><br>
                        <li> Ou bien "La loutre" a fait une belle  <a href="./faq" >FaQs</a> ;)</li> </ul> 

                     <img src="assets/LoutreContact.png" alt="une loutre">
                    
                </div>

              <!-- ================== <form  #signupForm="ngForm" (ngSubmit)=" submitTickets(signupForm)">
                    <input ngModel type="text" name="a">===============================================--> 
                   
         
                
                <form #signupForm="ngForm" (ngSubmit)=" submitTickets(signupForm)" class="column is-one-third has-text-left">
                    <div class="field">
                        <label class="label">Nom</label>
                        <div class="control">
                            <input ngModel name = "Name" class="input is-medium" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input ngModel name= "Email" class="input is-medium" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                            <input ngModel name="textarea" type= "textarea" class="textarea is-medium">
                        </div>
                    </div>
                    <div class="control">
                      
                        <button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">Envoyer le message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <!-- Any other Bulma elements you want -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
      

</section>
