<div class="text">

    <h1 class="TittleWAY">Qui sommes nous ?</h1>
    <br>
    <br>
    <p>
        Nous sommes une équipe de 4 étudiants en développeurs informatique (1
        chef de projet, 1 lead dev, un mediateur et un relecteur-correcteur).
    
    <br>
    
        Nous sommes actuellement en formation au Campus CESI à Brest. Ce site
        à pour but de mettre en relation des personnes aimant créer des
        histoires et les partager. De plus ils pourront interagir entre eux et
        créer à plusieurs un univers où la seule limite est leurs
        imaginations.
    
    <br>
    
        Nous avons pour objectif, à long terme, que ce site devienne la
        référence du Role Play (jeu de rôle, RP) en ligne. Nous avons
        identifié les besoins auprès de certaines personnes. Nous faisons ce
        site pour créer et regrouper la communauté du RP. La création de vos
        RP pourront être publics ou privés. La création est libre et ouverte à
        tous.
    </p>
    <br>
    <p>#Balance Ton Flouze</p>
</div>