<header>
           
    <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <img height="50%" width="50" src="https://previews.123rf.com/images/novazaigen/novazaigen1812/novazaigen181200002/115735705-otter-head-vector-illustration.jpg"/>
            </div>
        
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="./index.html">Accueil</a>
        
                <a class="navbar-item">Liste des RP</a>
        
                <div class="navbar-item has-dropdown is-hoverable">

                    <a class="navbar-link">Profil</a>
        
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="./Compte.html">Compte</a>
                        <a class="navbar-item" href="./CréRP.html">Créez un RP</a>
                        <a class="navbar-item">Contact</a>
                    </div>
                </div>
            
            </div>
        
            <div class="navbar-end">
                <div class="navbar-item">
                    <!-- Barre de navigation -->
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="" placeholder="Rechercher">

                        <span class="icon is-left">
                            <i class="fa fa-search"></i>
                        </span>

                        <span class="icon is-right icon-link">
                            <i class="fa fa-check"></i>
                        </span>
                    </div>
                </div>
                
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="./Inscription.html"><strong>S'inscrire</strong></a>
                        <a class="button is-light" href="./connexion.html">Connexion</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header> 

<router-outlet></router-outlet>