<!--Formulaire de connexion-->
<section>
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title TitleColor">Connexion</h3>
                <hr class="login-hr">
                <div *ngIf="!loginService.isLoggedIn()">
                    <p class="subtitle TextColor">Veuillez vous connecter pour continuer.</p>
                    <div class="box">
                        <form #signinForm="ngForm" (ngSubmit)="connect(signinForm)">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" placeholder="Pseudo" autofocus="" ngModel name="username">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Mot de passe" ngModel name="password">
                                </div>
                            </div>
                            <div class="field">
                                <label class="checkbox TextColor">
                                    <input type="checkbox">
                                    Se souvenir de moi
                                </label>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth" type="submit">Connexion <i class="fa fa-sign-in"aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <p>
                        <a href="./registration">S'inscrire</a> &nbsp;·&nbsp;
                    </p>
                </div>

                <div *ngIf="loginService.isLoggedIn()">
                    <p class="subtitle">
                        Vous êtes déjà connecté
                    </p>
                    <button class="button is-danger" (click)="loginService.logout()">Se déconnecter</button>
                </div>
            </div>
        </div>
    </div>
</section>