<section class="hero is-info">
    <div class="hero-body">(image qui zoom)</div>
</section>

<h1 class="TittleRP">Créez ton RP</h1>

<div class="content-wrapper">    
    <div>Décrit l'univers de ton RP :</div>
    <form>
        <textarea style="overflow:auto" rows=5 cols=150></textarea>
    </form>
    <div>Écrit ton histoire :</div>
    <form>
        <textarea style="overflow:auto" rows=10 cols=150></textarea>
    </form>

    <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Publier</button>
        </div>
    </div>

</div>
