<section class="container">
    <div class="columns is-multiline">
      <div class="column is-8 is-offset-2 register">
        <div class="columns">
         
          <div class="column right has-text-centered">
            <h1 class="title is-4">Contenue Mature ! </h1>
       
            <form>
              <div class="field">
                <div class="control">
                  <div class="buttons">

<button class="button is-danger button is-block is-primary is-fullwidth is-medium">Je suis Mineur</button>
</div>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <button class="button is-success button is-block is-primary is-fullwidth is-medium">je suis majeur</button>
                </div>
              </div>
              
              <br />
              <small><em>mentir c'est mal m'key. Mr Mackey</em></small>
            </form>
          </div>
        </div>
      </div>
    
    </div>
  </section>


  


