 <!-- toute les classes couleurs sont dans le scss de l'api, pour le reste des mises en formes , bulma.io -->
 <!-- Image qui zoom-->
<section class="hero is-info">
    <div class="hero-body">
        
        <p class="title ">
            (place holder image qui zoom)
        </p>
    </div>
</section>

<!--body-->
<h1 class="title is-2 TitleColor">Administration :</h1>

<section class="container">
    <div class="box">
        <div class="columns is-multiline">
            <div class="column is-10 is-offset-1 register">
                <div class="columns">
                    <div class="column is-pulled-left has-text-left" style="text-align: center">
                        <h1 class="title is-5 TextColor">Dernier RP uploader sur le site :</h1>
                        <div class="box AvecScroll" style="width: 600px; height: 300px">
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">Jean-Michel et la loutre de Bamako - 03/02/2021</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                            <div class="ListeRP">(une liste des Rp serait ici)(date de publication)</div>
                        </div>
                    </div>
                    <div class="column is-pulled-right has-text-left" style="text-align: center">
                        <h1 class="title is-5 TextColor">Dernière inscription sur le site :</h1>
                        <div class="box AvecScroll" style="width: 600px; height: 300px">
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">Jean-Michel/Le_Singe_Obito - Jean-Michel@Loutre_De_Bamako.com - 28/01/2021</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                            <div class="ListeRP">(pseudo et/ou nom et prénom) - (email) - (date d'inscription)</div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center">
                        <div class="box" style="width: 1200px; height: 100px">
                            <div class="buttons buttons is-centered">
                                <a class="button is-large ButtonModifier">Modifier</a>
                                <a class="button is-large ButtonChangeImg">Changer l'image du RP</a>
                                <a class="button is-large ButtonDelete">Supprimer</a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="box has-text-centered" style="width: 1600px;">
                <h1 class="title is-5 TextColor">Envoi d'un message :</h1>
                <form class="has-text-centered" method="post">
                    <div>
                        <br>
                        <input style="width: 600px;" type="text" id="name" name="user_name" placeholder="Nom">
                    </div>
                    <br>
                    <div>
                        <input style="width: 600px;" type="email" id="mail" name="user_mail" placeholder="E-mail">
                    </div>
                    <br>
                    <div>
                        <textarea style="width: 600px; height: 300px;" id="msg" name="user_message" placeholder="Message"></textarea>
                    </div>
                    <br>
                    <div>
                        <button style="width: 600px; margin-left: 345px;" class="button is-centered is-block is-primary is-medium ButtonColor2">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

