




<div class="container">
    <section class="section is-medium">
      <div class="box BoxColor3">
      
     
       
      
        <div class="tile is-ancestor ">
          <div class="tile is-vertical is-8">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary ButtonColor2">
                  
                  <p class="title  ">Preference : </p>
                   
        <div class="control ">
          <p>Je souhaites que mon profil sois privée <br> (visible que par vous et vos amie(e)s)</p>
          <label class="radio">
            <input type="radio" name="answer">
            Yes
          </label>
          <label class="radio">
            <input type="radio" name="answer">
            No
          </label>
        </div>
                  <p class="subtitle">Contenue Adulte :</p>
                  <label class="radio">
                    <input type="radio" name="answer">
                    Yes
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer">
                    No
                  </label>
                </article>
                <article class="tile is-child notification is-warning BoxColor3">
                  <p class="title">clair\obscurs</p>
                  <div class="field">
                    <input id="switchExample" type="checkbox" name="switchExample" class="switch" checked="checked">
                    <label for="switchExample">Switch example</label>
                  </div>
                  
                  <p class="subtitle">Bottom tile</p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child notification is-info ButtonColor4">
                  <p class="title">Votre liste d'image</p>
                  <p class="subtitle"></p>
                  <figure class="image is-4by3">
                    <img src="css/Ds.jpg">
                  </figure>
                </article>
              </div>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-danger">
                <div class="file has-name">
                  <label class="file-label">
                    <input class="file-input" type="file" name="resume">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        Choose a file…
                      </span>
                    </span>
                    <span class="file-name">
                      Screen Shot 2017-07-29 at 15.54.25.png
                    </span>
                  </label>
                </div>
                <p class="title">Envoyez l'image....</p>
                <p class="subtitle">que vous souhaitez</p>
                <div class="content">
                  <!-- Content -->
                </div>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-success">
              <div class="content">
                <p class="title"> Amis</p>
                <table>
                  <thead>
                    <tr>
                      <th>One</th>
                      <th>Two</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Three</td>
                      <td>Four</td>
                    </tr>
                    <tr>
                      <td>Five</td>
                      <td>Six</td>
                    </tr>
                    <tr>
                      <td>Seven</td>
                      <td>Eight</td>
                    </tr>
                    <tr>
                      <td>Nine</td>
                      <td>Ten</td>
                    </tr>
                    <tr>
                      <td>Eleven</td>
                      <td>Twelve</td>
                    </tr>
                  </tbody>
                </table>
                <p class="subtitle">Contributeurs</p>
                <table>
                  <thead>
                    <tr>
                      <th>One</th>
                      <th>Two</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Three</td>
                      <td>Four</td>
                    </tr>
                    <tr>
                      <td>Five</td>
                      <td>Six</td>
                    </tr>
                    <tr>
                      <td>Seven</td>
                      <td>Eight</td>
                    </tr>
                    <tr>
                      <td>Nine</td>
                      <td>Ten</td>
                    </tr>
                    <tr>
                      <td>Eleven</td>
                      <td>Twelve</td>
                    </tr>
                  </tbody>
                </table>
                <div class="content">
                  <!-- Content -->
                </div>
              </div>
            </article>
          </div>
        </div>
      <p>
    </div>
    <div class="buttons buttons is-centered">
      <a class=" button is-primary "><strong>Appliquer</strong></a>
     </div>
    </section>
    

    </div>
  
  
