          <!-- toute les classes couleurs sont dans le scss de l'api, pour le reste des mises en formes , bulma.io -->
<div class = "box BoxColor3"></div>
<div class="content is-normal">
    <h1 class=" title is-size-2 ">La liste des Univers et Rp</h1><br>
    <p class="title is-size-5">Tout les Rp visibles ici, sont public</p>
   
    <p class ="box title is-size-2 TitleColor has-text-centered">  Univers Star wars</p>
    <ul class ="title is-size-4 ">
      <li><a href="">luke snowboard walker</a></li>
      <li><a href="">Princesse Leia epouse un ewok</a></li>
      <li><a href="">Chewee fait un shampoing</a></li>
      <li><a href="">les rebelles du coté obscurs</a></li>
    </ul>
    <p class ="box title is-size-2 TitleColor has-text-centered">  Univers Donjon et Dragon</p>
    <ul class="title is-size-4">
        <li><a href="">Un dragon et une épée</a></li>
        <li><a href="">l'épée du dragon magique de l'elfe</a></li>
        <li><a href="">Un nain chez les orques</a></li>
        <li><a href="">Un magicien peut en cacher un autre</a></li>
      </ul>
      <p class ="box title is-size-2 TitleColor has-text-centered">  Univers en vrac non listable</p>
      <ul class="title is-size-4">
        <li><a href="">Sophie adopte une loutre</a></li>
        <li><a href="">les loutres ou le pouvoir des illuminatis</a></li>
        <li><a href="">La revanche d'une loutre</a></li>
        <li><a href="">Loutre contre caniche un combat dentesque</a></li>
      </ul>
  </div>