<section class="hero is-info">
    <div class="hero-body">
        <p class="title">
            RP Project
        </p>
    </div>
</section>
<!-- Contenu de la page -->
<!-- https://bulma.io/documentation/columns/basics/ -->
<div class="container">
    <section class="section is-medium">
        <div class="box">


            <p class="title">Bienvenue sur Rp Project</p>
            <p class="subtitle">
                Bienvenue sur Rp Project <strong>Bienvenue sur Rp Project</strong>Bienvenue sur Rp Project
            <p>
        </div>
        <div class="buttons buttons is-centered">
            <a class=" button is-primary "><strong>Sign up</strong></a>
        </div>
    </section>
    <section class="section is-large has-text-centered">
        <p class="title" id="ListeDesRP">Large section</p>
        <p class="subtitle">

            Rp Project c'est quoi ?<strong>sections</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Porro necessitatibus illo eligendi ut vel,
            odio ratione sit earum sapiente aliquid, consectetur, accusamus temporibus autem unde! Autem rem non
            perferendis rerum?

        </p>
        <figure class="image is-inline-block image is-128x128">
            <img class="is-rounded " src="css/minsc.jpg">
        </figure>
    </section>
