<section class="hero is-info">
    <div class="hero-body">
        <p class="title">
            RP Project
        </p>
    </div>
</section>
<!-- Contenu de la page -->
<!-- https://bulma.io/documentation/columns/basics/ -->
<div class="container">
    <section class="section is-medium">
        <div class="box">


            <p class="title has-text-centered title is-1">Bienvenue sur Rp Project</p><div class="columns is-centered">
                <div class="column">
                    <img class="is-pulled-left" src="assets/dragon.gif" alt="">
                </div>
                <div class="column">
                    <img class="is-pulled-right" src="assets/dragon.gif" alt="">
                </div>
            </div>
              
            
              <p class = "has-text-centered  is-1"> Une communauté de passionées Rejoingnez vos amis ! <br> <br>
                .... autour de récit et d'univers passionnant</p>
         

        </div>
        <div class="buttons buttons is-centered">
            <a class=" button is-primary  button is-link is-rounded button is-large" href="./connexion"><strong>Sign up</strong></a>
        </div>
    </section>
    <section class="section is-large has-text-centered">
        <p class="title" id="ListeDesRP">Rejoingnez une communauté active !</p>
        <p class="subtitle">

            <br> <strong >Rp Project c'est quoi... et bien  ?</strong>  <br><br> Rp viens de l'anglais role play, initialement 
            definissant des joueurs jouant a un jeux de role .
           

        </p>
        <p> Depuis quelque année sur internet ce sont crées sur des forums des communautés
            utilisant le systeme des jeux de role , pour ce raconter leurs aventure , dabs des mondes licenciés ou crée de toute piece.</p><br>

        <p>Ce qui change par rapport a une partie de jeux de role standard ? Et bien dans du "RP" il peu y avoir des lancées de dées , 
           mais c'est surtout des histoires que vous raconter dans vos univers preferer , entre amis ou avec d'autre personnes de la communauté.</p> <br>
        <img src="assets/Eye.png" alt="une loutre">
    </section>
